//项目提供scss全局变量
$color:green;
$base-color:blue;

// 左侧菜单宽度
$base-menu-width:260px;
$base-menu-background: #001529;
$base-tabbar-height:100px;

// 左侧菜单logo高度
$base-menu-logo-height: 50px;

$base-logo-title-fontSize:20px;